In [1]:
from finlab import data

data.get('price:收盤價')

請從 https://ai.finlab.tw/api_token 複製驗證碼，貼於此處:

輸入成功!
之後可以使用以下方法自動登入
import finlab
finlab.login("YOUR API TOKEN")
Due to your status as a free user, the most recent data has been shortened or limited.
Daily usage: 12.2 / 500 MB - price:收盤價

symbol,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,7.64,54.40,26.09,32.72,23.26,19.40,11.47,22.95,31.94,32.12,...,16.55,62.70,19.05,20.5,19.20,42.3,29.10,13.50,17.25,12.70
2013-01-03,7.64,54.85,26.12,32.12,23.11,19.37,11.49,23.06,31.93,31.96,...,16.60,67.00,18.95,20.2,19.20,42.2,29.25,13.35,17.30,12.85
2013-01-04,7.64,54.50,26.00,32.48,22.97,19.40,11.38,22.95,31.87,32.30,...,16.55,66.10,19.10,20.3,19.40,41.6,29.25,13.15,17.30,13.00
2013-01-07,7.64,54.25,25.84,32.09,22.81,19.21,11.39,22.97,NaN,31.94,...,17.20,65.60,19.50,20.0,19.50,41.7,29.40,13.45,17.20,12.85
2013-01-08,7.60,53.90,25.68,31.72,22.72,19.01,11.36,22.80,31.61,31.90,...,17.50,64.50,19.25,19.8,19.30,41.7,28.95,13.25,17.10,12.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-25,NaN,118.95,42.83,106.50,55.85,27.57,17.69,29.51,78.55,NaN,...,22.20,40.60,16.10,11.9,10.05,88.5,19.95,112.50,NaN,9.73
2020-12-28,NaN,120.00,43.83,107.80,56.85,27.90,17.71,29.75,79.10,NaN,...,22.20,40.55,16.05,11.9,10.00,88.1,20.25,110.00,31.00,9.70
2020-12-29,NaN,119.90,43.79,108.00,56.80,27.90,17.71,29.67,79.60,NaN,...,22.25,40.60,16.05,11.9,9.97,87.8,19.85,109.00,34.10,9.70
2020-12-30,NaN,121.60,43.93,109.85,57.10,28.10,18.06,29.78,80.20,NaN,...,22.35,40.75,16.15,11.9,9.99,86.4,19.85,109.00,33.95,9.98
2020-12-31,NaN,122.25,44.00,110.20,57.70,28.21,18.05,29.95,80.40,NaN,...,22.50,40.90,16.15,11.9,10.15,91.3,19.75,107.00,34.00,9.98

In [16]:
data.get('benchmark_return:發行量加權股價報酬指數')

Daily usage: 11.2 / 500 MB - benchmark_return:發行量加權股價報酬指數

symbol      發行量加權股價報酬指數
date
2013-01-02     11164.55
2013-01-03     11247.23
2013-01-04     11202.96
2013-01-07     11129.91
2013-01-08     11081.93
...                 ...
2020-12-25     27667.00
2020-12-28     27959.77
2020-12-29     27938.50
2020-12-30     28354.81
2020-12-31     28441.36

[1962 rows x 1 columns]

In [2]:
from finlab import data
import finlab
finlab.login("AiuPZ4WPXAATQGDkCCUjnGPeKpNfxa0pfe0iFPMxsNlgpZep3Qqp1KJjbwzikCtd#free")

df = data.get('financial_statement:現金及約當現金')

輸入成功!
Due to your status as a free user, the most recent data has been shortened or limited.
Daily usage: 3.7 / 500 MB - financial_statement:現金及約當現金

In [8]:
df1 = data.get('financial_statement:本期綜合損益總額')

Daily usage: 4.9 / 500 MB - financial_statement:本期綜合損益總額

In [9]:
df_cleaned = df.dropna(axis=1)
df1_cleaned = df1.dropna(axis=1)

In [11]:
(df1_cleaned < 0).any().any()

True

In [17]:
data.get('intraday_trading:當日沖銷交易成交股數')

Daily usage: 18.2 / 500 MB - intraday_trading:當日沖銷交易成交股數

symbol,0050,0051,0052,0053,0054,0055,0056,0057,0058,0059,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2014-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,93000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,108000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,169000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-25,191000.0,1000.0,413000.0,0.0,0.0,3000.0,101000.0,0.0,NaN,NaN,...,40000.0,43000.0,25000.0,1000.0,NaN,104000.0,39000.0,704000.0,0.0,4000.0
2020-12-28,227000.0,5000.0,163000.0,0.0,0.0,0.0,73000.0,2000.0,NaN,NaN,...,48000.0,95000.0,27000.0,1000.0,NaN,117000.0,42000.0,978000.0,0.0,3000.0
2020-12-29,135000.0,1000.0,335000.0,0.0,0.0,3000.0,190000.0,18000.0,NaN,NaN,...,11000.0,453000.0,44000.0,0.0,NaN,23000.0,30000.0,1498000.0,80000.0,2000.0
2020-12-30,402000.0,0.0,166000.0,0.0,0.0,22000.0,51000.0,4000.0,NaN,NaN,...,37000.0,384000.0,5000.0,0.0,NaN,20000.0,27000.0,1072000.0,24000.0,157000.0
2020-12-31,183000.0,0.0,247000.0,0.0,0.0,16000.0,187000.0,1000.0,NaN,NaN,...,157000.0,322000.0,0.0,0.0,NaN,1185000.0,21000.0,607000.0,38000.0,0.0

In [20]:
close = data.get('price:收盤價')

In [21]:
close.index

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-07',
               '2013-01-08', '2013-01-09', '2013-01-10', '2013-01-11',
               '2013-01-14', '2013-01-15',
               ...
               '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-25', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='date', length=1962, freq=None)